.container {
	background-color: white;
}

body {
	background-color: #482715;
	color: #472614;
}
.story-no-image {
	background-color: #eaf1c1;
	width: 100%;
	height: 30px;
	display: block;
}

div.hr {
  clear: both;
  display: block;
  height: 15px;
  width: 100%;
  background: #fff url(/assets/images/hr.png) repeat-x scroll center;
	
}
div.hr hr {
  display: none;
}

#sub-menu div.hr {
  margin-left: -12px;
  clear: both;
  display: block;
  height: 15px;
  width: 270px;
  background: #eaf1c1 url(/assets/images/hr-dark.png) repeat-x scroll center;
	
}
#sub-menu div.hr hr {
  display: none;
}

#nav {
	margin-top: -30px;
	float: left;
	position: absolute;
	width: 670px;
	font-size: 1.1em;
	display: block;
}

ul.list {padding-left: 20px !important; list-style-position: outside !important; list-style-type: circle !important;}

#nav span.prev {

	padding: 5px;
	background-color: #eaf1c1;
	opacity: 0.8;
	-moz-opacity:0.8;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	filter: alpha(opacity=80);

	position: relative;

	display: inline-block;

	float: left;

}

#nav span.next {

	padding: 5px;
	background-color: #eaf1c1;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	opacity: 0.8;
	-moz-opacity:0.5;
	filter: alpha(opacity=80);

	position: relative;

	display: inline-block;

	float: right;

}

div#content {
	min-height: 500px;
	background-color: white;
	background-repeat: no-repeat;
	z-index: 10;
	font-size: 0.9em;
	line-height: 1.5em;
}

#content h2 {
	display: block;
	margin-top: 15px;
	font-size: 1em;
}

#content h3 {
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	background-color: #cce254;
	color: #472614;
	text-transform: uppercase;
	font-size: 0.9em;
	margin-bottom: 20px;
}

h4 {
	margin-top: 20px;
	font-style: normal;
	font-weight: normal;
	text-transform: capitalize;
	width: 100%;
	color: #747474;
}

h4 a:link {

	margin-right: 10px;

	margin-bottom: 5px;

	font-style: italic;

	text-decoration: none !important;

	color: #472614 !important;

}

h4 a:visited {
	font-style: italic;
	color: #747474 !important;
}

h4 a:hover {

	color: #ed670a !important;

}

ul#sub-nav {
	padding-top: 10px;
	display: block;
	margin-left: -25px;
	margin-right: -28px;
}

ul#sub-nav li {
	padding-right: 10px;
	line-height: 1.3em;
	font-size: 0.9em;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 35px;
}

ul#sub-nav li a {
display: block;
text-shadow: 0px 1px 1px #FFFFFF;
filter: dropshadow(color=#FFFFFF, offx=0, offy=1);
color: #472614;
}

ul#sub-nav li:hover {
	color: white;
	background-color: #cce254;
}

ul#sub-nav li.current {
	border-color: white;
	border-bottom-width: 1px;
	border-style: solid;
	border-top-width: 1px;
	color: white;
	background-color: #cce254;
}

div#sub-menu {
	z-index: 0;
	padding-right: 20px;
	padding-left: 25px;
	color: #abc217;
}

div#sub-menu h2 {
	text-transform: uppercase;
	color: #472614;
	display: block;
	padding-top: 12px;
	line-height: 1.3em;
	font-size: 0.9em;
	border-bottom-color: #b6ce19;
	border-bottom-style: solid;
	border-bottom-width: 0px;
}

div#sub-menu a {
	color: #97ab12;
	text-decoration: none;
}

div#sub-menu a:hover {
	color: #472614;
}

.contributors {
	display: block;
	width: 620px;
}

.contrib-left {
	padding-right: 50px;
	clear: left;
	display: inline-block;
	float: left;
	width: 290px;
}

.contrib-right {
	padding-right: 50px;
	display: inline-block;
	float: right;
	width: 290px;
}

p {
	margin-left: 0;
	margin-bottom: 20px;
	margin-right: 0;
	margin-top: 0px;
	display: block;
}

ol li {
	margin-bottom: 10px;
}

.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

#content a {
	color: #ed670a;
	text-decoration: none;
}

#content a:hover {
	text-decoration: underline;
}

div#header {
	background-color: #eaf1c1;
}

#background {
	background-image: url('/assets/images/left-bg.png');
	background-repeat: repeat;
}

.bg-white {
	background-color: white;
}

.content-padded {
	width: 620px;
	padding-left: 25px;
}

h1 {
line-height: 1.8em;
text-shadow: 0px 1px 1px #FFFFFF;
filter: dropshadow(color=#FFFFFF, offx=0, offy=1);
	display: block;
	border-bottom-color: #cce254;
	               
	border-bottom-style: solid;
	               
	border-bottom-width: 1px;
	               
	border-top-color: #e9e9e9;
	               
	border-top-style: solid;
	               
	border-top-width: 1px;
	               
	color: #472614;             
	padding-top: 18px;
	padding-bottom: 10px;
	min-height: 34px;
	font-size: 1.3em;
	padding-left: 10px;
	display: inline-block;
	margin-left: -25px;
	background-color: #eaf1c1;
	width: 660px;
}

h1.lead {
	display: block;
	font-style: normal;
	               
	font-weight: normal;
	               
	text-align: center;
	               
	line-height: 1.5em;
	               
	color: #472614;             
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	min-height: 15px;
	margin-left: 0px !important;
	margin-top: 0px;
	font-size: 1.3em;
	padding-left: 10px;
	display: inline-block;
	background-color: #eaf1c1;
	width: 650px;
}

h1.half-left {
	display: block;
	color: #472614;             
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	margin-top: 0px;
	font-size: 1.3em;
	padding-left: 10px;
	display: inline-block;
	background-color: #eaf1c1;
	width: 300px;
	margin-left: -25px;
}

h1.half-right {
display: block;
	color: #472614;             
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	margin-top: 0px;
	font-size: 1.3em;
	padding-left: 10px;
	display: inline-block;
	background-color: #eaf1c1;
	width: 300px;

}

h1 strong {
	display: inline-block;
	text-transform: uppercase !important;
	font-weight: bold !important;
	text-decoration: none;
}

h1 strong a {
	display: none;
	color: #97ab12 !important;
}

h1 a {
	color: #472614 !important;
}

h2 em {
	color: #bebebe;
	font-style: normal !important;
	font-weight: normal !important;
}

.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 50px;
	padding: 0 24px 0 8px;
	color: #000000;
	font: 12px/21px arial,sans-serif;
	background: url(/assets/images/select.png) no-repeat;
	overflow: hidden;
}

.loud {

	text-transform: uppercase;

}

.img-thumb {

	height: 150px;

	border-style: solid;

	width: 150px;

	border-width: 3px;

	border-color: #472614;

	margin-bottom: 20px;

	margin-top: 20px;

	margin-right: 20px;

	float: left;

	display: inline-block;
	
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.5);
-moz-box-shadow: 0 1px 10px rgba(0,0,0,.5);
box-shadow: 0 1px 10px rgba(0,0,0,.5);

}

.img-thumb-gallery {

	float: left;

	text-align: center;

	height: 150px;

	border-style: solid;

	width: 450px;

	border-width: 3px;

	border-color: #472614;

	margin-bottom: 20px;

	margin-top: 20px;

	margin-right: 20px;

	display: inline-block;
	
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.5);
-moz-box-shadow: 0 1px 10px rgba(0,0,0,.5);
box-shadow: 0 1px 10px rgba(0,0,0,.5);

}


.img-thumb:hover {

	border-color: #ed670a;

}

.img-thumb-gallery:hover {

	border-color: #ed670a;

}

div.sub-header-image {
	display: block;
	height: 130px;
}

div.story-image {
	display: block;
	height: 300px;
}

div#menu {
	border-color: white;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: 1em;
	word-spacing: 2px;
	width: 950px;
	background-color: #cce254;
	text-align: center;
	padding-top: 15px;
	height: 30px;
	display: block;
}

div#menu a {
	text-decoration: none;
	color: #472614;
}

div#menu a:hover {
	text-decoration: underline;
}

div#sub-menu a.current {
	color: #ed670a;
}

.strong {
	font-weight: bold;
}

blockquote {
	margin-right: 50px;
	margin-left: 50px;
}

dd.search-box {
	width: 325px;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-top: 0px;
	display: inline-block;
	float: left;
	margin: 0px;
}

dd.search-box input.search {
	display: inline-block;
	float: left;
	height: 25px;
	line-height: 1.3em;
	font-size: 1.3em;
	font-style: italic;
	text-transform: uppercase;
	font-family: sans-serif;
	color: #333333;
	background-image: url('http://www.hivheyitsviral.com/assets/images/bg-input.png') !important;
	background-repeat: repeat-x;
	padding-left: 10px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 10px;
	position: relative;
	width: 256px;
	margin-right: 0px;
	border-width: 0px;
}

dd.search-box input.search-body {
	height: 28px;
	line-height: 1.1em;
	font-size: 0.9em;
	font-style: italic;
	text-transform: uppercase;
	font-family: sans-serif;
	color: #ffff99;
	background-image: url('http://www.hivheyitsviral.com/assets/images/bg-input.png') !important;
	background-repeat: repeat-x;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 7px;
	position: relative;
	width: 150px;
	margin-left: 60px;
	margin-right: 0px;
	border-width: 0px;
	background-color: #eb503e;
}

dd.search-box input.go {
	float: right;
	background-color: #33c2e0;
	border-width: 0px;
	display: inline-block;
	height: 35px;
	width: 58px;
	background-image: url('/assets/images/button-go.png');
	background-repeat: no-repeat;
}

dd.search-box input.go:hover {
	cursor: pointer;
}

div.categories {

	padding-right: 10px;

	float: right;

	display: inline;

}

h2.results span.loud {
	text-decoration: underline;
	text-transform: none !important;
}

h2.results {
	color: #747474;
}

div.excerpt {
	clear: both;
	width: 100%;
	float: left;
	display: block;
}

.input-search {
	padding: 5px;
	width: 500px;
	font-size: 1.1em;
	border-color: #cce254;
	border-style: solid;
	border-width: 1px;
	color: #472614;
	background-color: #eaf1c1;
}

/* AWESOME BUTTONS */
/* set an awesome color for the buttons */
button.awesome,
input.awesome,
a.button.awesome {
background-color: #472614;
}
/* Touch the rest at your onw risk. */
button.awesome,
input.awesome,
a.button.awesome {

font: inherit;
background-repeat: repeat-x;
color: #fff;
text-decoration: none;
position: relative;
cursor: pointer;
border: 0;
font-style: normal;
font-weight: bold;
line-height: 1;

padding: 5px 10px 6px;
font-size: 13px;

/* IE only stuff */
border-bottom: 1px solid transparent\9;

/* not all browser support these, but who cares? */
text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);

/* one image for all states
see http://www.alistapart.com/articles/sprites */
background-image: url(awesome-overlay-sprite.png);
background-position: 0 0;

/* cross browser inline block hack
see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
display: -moz-inline-stack;
display: inline-block;
vertical-align: middle;
*display: inline !important;
position: relative;

/* help IE to calm down a bit */
zoom: 1;

/*disable text selection (Firefox only)*/
-moz-user-select: none;
}
/* hide selection background color */
.awesome::selection {
background: transparent;
}

button.awesome:hover,
input.awesome:hover,
a.button.awesome:hover {
background-position: 0 -50px;
color: #fff;
}
button.awesome:active,
input.awesome:active,
a.button.awesome:active	{
	background-position: 0 100%;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
	/* unfortunately, Safari seems not to support inset yet */
	-webkit-box-shadow: none;

	/* IE only stuff */
	border-bottom: 0\9;
	border-top: 1px solid #666\9;
}

button.awesome.small, input.awesome.small, a.button.awesome.small { padding: 4px 7px 5px; font-size: 10px; }
button.awesome.small:active, input.awesome.small:active, a.button.awesome.small:active	 { padding: 5px 7px 4px; }
button.awesome.medium, input.awesome.medium, a.button.awesome.medium { /* default */ }
button.awesome.medium:active, input.awesome.medium:active, a.button.awesome.medium:active	{ padding: 6px 10px 5px; }
button.awesome.large, input.awesome.large, a.button.awesome.large { padding: 8px 14px 9px; font-size: 14px; }
button.awesome.large:active, input.awesome.large:active, a.button.awesome.large:active	 { padding: 9px 14px 8px; }
#menu a.highlight	 { color: #ed670a !important; }

.dsq-dc-logo	 { display: none !important; }

#dsq-comments-title	 { margin-top: 20px !important; display: block; }

.dsq-subscribe-rss {display: none !important; }

.commentcount {
	font-size: 0.9em;
	display: inline-block;
	width: 100%;
	float: left;
}

div.cartAdd {
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 3px;
	float: right;
	display: inline-block;
}

div.cartView {
	text-align: right;
	clear: both;
	margin-bottom: 6px;
	width: 100%;
	margin-top: 6px;
	display: block;
	float: right;
}

h3.calm {
	background-color: #eaf1c1 !important;
}

.ui-selectmenu-status {
	font-size: 1.2em;
}

.right-col-item {
	display: block;
	margin-top: 15px;
}

h2.nav {
	float: right;
	font-size: 0.9em !important;
	margin-bottom: 10px;
}

#nav-bottom {
	margin-left: -25px;
	float: left;
	position: absolute;
	width: 670px;
	font-size: 1.1em;
	display: block;
}

#nav-bottom span.prev {

	border-top-color: white;

	border-top-style: solid;

	border-top-width: 1px;

	padding: 5px;
	background-color: #eaf1c1;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;

	position: relative;

	display: inline-block;

	float: left;

}

#nav-bottom span.next {

	border-top-color: white;

	border-top-width: 1px;

	border-top-style: solid;

	padding: 5px;
	background-color: #eaf1c1;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;

	position: relative;

	display: inline-block;

	float: right;

}

h1 a.author {
	color: #ed670a !important;
}

.dsq-item-sort {
	display: inline-block;
	visibility: hidden;
}

.dsq-subscribe-email {
	display: block;
	float: left;
}

.footer {
	text-align: center;
	color: #eaf1c1;
}

.footer a {
	color: #eaf1c1;
}

div.pagination {
	display: block;
	float: left;
}

div.pagination a {
	border-color: white;
	border-style: solid;
	border-width: 1px;
	color: #472614;
	background-color: #eaf1c1;
	padding: 5px;
	display: inline-block;
}

div.pagination strong {
	background-color: #cce254;
	padding: 5px;
}

div.pagination a:hover {
	border-color: #327e04;
	border-style: solid;
	border-width: 1px;
}

.pagination-total {
	margin-left: 2px;
	text-transform: uppercase;
	color: #b7b7b7;
}

div.search-again {
	display: inline-block;
	float: right;
}

h4.link {
	color: #472614 !important;
	text-transform: uppercase;
}

h4.link a {
text-decoration: underline !important;
color: #472614 !important;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
}

span.keyword {
	color: #ed670a;
}

h2.beyondmedia {
	display: block;
	font-size: 12px !important;
	color: #97ab12;
}

h2.beyondmedia a {
	font-style: italic;
	color: black !important;
}

h2.beyondmedia a:hover {
	text-decoration: underline !important;
}

div.sub-menu-header {
	margin-bottom: -15px;
	font-weight: bold;
	text-transform: uppercase;
	color: #472614;
	padding-bottom: 0px;
	padding-top: 15px;
	margin-right: -10px;
}

div#sub-menu .dsq-widget-title {
	display: block;
	margin-bottom: -5px;
	font-weight: bold;
	text-transform: uppercase;
	color: #472614;
	padding-bottom: 5px;
	padding-top: 15px;
	margin-right: -10px;
}

div#sub-menu .dsq-widget-user {
	display: block;
	padding-bottom: 5px;
	line-height: 1.2em;
	font-size: 0.7em;
	color: #97ab12;
}

div#sub-menu .dsq-widget-comment {
	padding-bottom: 5px;
	font-size: 0.8em;
	line-height: 1.2em;
	display: block;
	color: #747474;
	font-style: normal;
	font-weight: normal;
}

div#sub-menu .dsq-widget-meta a {
	color: #ed670a !important;
}

h1 span.nav {
	margin-top: 6px;
	display: inline-block;
}

a.rss {
	display: inline;
	float: right;
}

div.rss-news {
	float: right;
	display: inline-block;
}

ul.related li {
	padding-bottom: 5px;
	border-bottom-color: #bfbfbf;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	display: block;
}

ul.related {
	padding-top: 5px;
	border-top-color: #bfbfbf;
	border-top-width: 1px;
	border-top-style: dashed;
}

ul.contributor-stories {
	margin-top: 35px;
	display: inline-block;
	list-style-type: circle;
	list-style-position: inside;
}

ul.contributor-stories li.count {
	list-style-type: none;
}

ul.contributor-stories li {
}

#gallery-images {
	margin-top: 30px;
	display: block;
}

#content h2 em {
	font-size: 1.2em;
}

h1 strong {
	text-transform: none;
	font-size: 1.4em;
}

a.category {
	background: #FFFFFF !important;
	margin-bottom: 5px;
	margin-right: 10px;
	display: inline-block;
	font-size: 0.9em;
	opacity: 0.6;
}

a.category:hover {
	background: #eaf1c1 !important;
}

button.donate {
	color: #ed670a !important;
}

div#advert {
	margin-top: 20px;
}

